@page
@model AwardsModel
@{
    ViewData["Title"] = "Awards";
}

<div>
    <div class="text-center">
        <h2 class="display-4 corsair-font">Awards</h2>
    </div>
    <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <form method="post">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Query.Category"></label>
                            <select asp-for="Query.Category" asp-items="Model.Categories" class="form-control"></select>
                        </div>
                        
                        <div class="form-group">
                            <label asp-for="Query.SKU"></label>
                            <input asp-for="Query.SKU" class="form-control">
                        </div>
                        <div class="form-group">
                            <label asp-for="Query.Product"></label>
                            <input asp-for="Query.Product" class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Query.Region"></label>
                            <input asp-for="Query.Region" class="form-control">
                        </div>
                        <div class="form-group">
                            <label asp-for="Query.Country"></label>
                            <input asp-for="Query.Country" class="form-control">
                        </div>
                        <div class="form-group">
                            <label asp-for="Query.Year"></label>
                            <input asp-for="Query.Year" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">
                        Region
                    </th>
                    <th scope="col">
                        Country
                    </th>
                    <th scope="col">
                        Site
                    </th>
                    <th scope="col">
                        Purpose
                    </th>
                    <th scope="col">
                        Category
                    </th>
                    <th scope="col">
                        Part
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var sample in Model.Awards)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(c => sample.Region)
                        </td>
                        <td>
                            @Html.DisplayFor(c => sample.Country)
                        </td>
                        <td>
                            @Html.DisplayFor(c => sample.Site)
                        </td>
                        <td>
                            @Html.DisplayFor(c => sample.Purpose)
                        </td>
                        <td>
                            @Html.DisplayFor(c => sample.Category)
                        </td>
                        <td>
                            @Html.DisplayFor(c => sample.PartDescription)
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
</div>